* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/static/images/wolfgang-hasselmann-6q-Gsv6jurU-unsplash.jpg);
  background-position: center;
  background-size: cover;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  font-family: "Goldman", sans-serif;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  border: none;
  padding: 0.5rem;
  font-size: 1.75rem;
  background: white;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3); */
}

form button {
  border: none;
  padding: 0.5rem;
  font-size: 1.75rem;
  color: #f76e48;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3); */
}

form button:hover {
  background: #f76e48;
  color: white;
}

.todo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: #000;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.3);
}

.todo li {
  flex: 1;
}

.complete_btn {
  background: #eb0808;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete_btn {
  background: #07a107;
}
.complete_btn:hover {
  background: #0cd30c;
}
.completed {
  text-decoration: line-through;
}
.trash_btn {
  background: #eb0808;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.trash_btn:hover {
  background: #b40303;
}
.todo_item {
  padding: 0 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
